###### DISPLAYS GREETING >>

In [2]:
full_name=input("enter full_name:")
age=input("enter age:")
display_greeting=f"Hello, {full_name}! You're {age} years old."
print(display_greeting)

enter full_name: Kosisochukwu Kyrian
enter age: 16

Hello, Kosisochukwu Kyrian! You're 16 years old.

###### AREA OF A RECTANGLE>>

In [5]:
length=input()
width=input()
area=int(length)*int(width)
print("The area of the rectangle =", area)

 7
 5

The area of the rectangle = 35

###### CALCULATES YEARS, WEEKS AND DAYS>>>

In [12]:
total_days=input("enter number of days:")
years=int(total_days)//365
days_left=int(total_days)-(years*365)
weeks=days_left//7
days=days_left-(weeks*7)
print(f"{years}yr(s) {weeks}wk(s) {days}day(s)")

enter number of days: 1000

2yr(s) 38wk(s) 4day(s)

###### AVERAGE>>>

In [13]:
x=input("enter testscore1:")
y=input("enter testscore2:")
z=input("enter testscore3:")
average=(int(x)+int(y)+int(z))/3
print("average=", average)

enter testscore1: 6
enter testscore2: 8
enter testscore3: 15

average= 9.666666666666666

###### AREA AND CIRCUMFERENCE OF A CIRCLE>>>

In [19]:
pi=3.14159
radius=input("enter radius:")
area=pi*int(radius)**2
circumference=2*pi*int(radius)
print(f"area of the circle=  {area}, circumference of the circle= {circumference}")

enter radius: 12

area of the circle=  452.38896, circumference of the circle= 75.39815999999999

###### SUM, DIFFERENCE, PRODUCT, QUOTIENT, REMAINDER, POWER>>>

In [29]:
x=input("enter first digit:")
y=input("enter second digit:")
sum=int(x)+int(y)
difference=int(x)-int(y)
product=int(x)*int(y)
quotient=int(x)//int(y)
remainder=int(x)%int(y)
power=int(x)**int(y)
print("sum=", sum, "difference=", difference, "product=", product, "quotient=", quotient, "remainder=", remainder, "power=", power)

enter first digit: 35
enter second digit: 6

sum= 41 difference= 29 product= 210 quotient= 5 remainder= 5 power= 1838265625

###### CELSIUS TO FAHRENHEIT>>>

In [33]:
celsius=input("Enter temperature:")
fahrenheit=((int(celsius)*9/5)+32)
print("fahrenheit=", fahrenheit, "degrees")

Enter temperature: 30

fahrenheit= 86.0 degrees

###### BODY MASS INDEX>>>

In [38]:
weight=input("Enter weight in kg:")
height=input("Enter height in meters:")
body_mass_index=float(weight)/float(height)**2
print("BMI=", body_mass_index)

Enter weight in kg: 80
Enter height in meters: 1.70

BMI= 27.68166089965398

###### COUNTING CHARACTERS IN A SENTENCE>>>

In [40]:
sentence=input("Enter sentence:")
count=len(sentence.replace(" ", ""))
print(count)

Enter sentence: I love you

8

###### VOLUME AND SURFACE AREA OF A CUBE>>>

In [44]:
s=input("Enter length of the one side:")
volume=int(s)**3
surface_area=6*int(s)**2
print("volume=", volume, 'and ' "surface_area=", surface_area)

Enter length of the one side: 4

volume= 64 and surface_area= 96

###### DISPLAY FULL NAME>>>

In [49]:
first_name=input("Enter first name:")
last_name=input("Enter last name:")
full_name=first_name+' '+last_name
initials=first_name[0]+"."+last_name[0]
print(f'Your full name is {full_name}')
print(f'Your initials are {initials}')

Enter first name: Kosisochukwu
Enter last name: Kyrian

Your full name is Kosisochukwu Kyrian
Your initials are K.K

###### SIMPLE INTEREST>>>

In [73]:
principal=input('Enter principal amount:')
rate=input('Enter interest rate:')
time=input('Enter time peiod in years:')
simple_interest=(int(principal)*int(rate)*int(time))/100
print('S.I= $', simple_interest)

Enter principal amount: 1000
Enter interest rate: 5
Enter time peiod in years: 2

S.I= $ 100.0

###### AREA OF A TRIANGLE>>>

In [53]:
base=input('Enter base value:')
height=input('Enter height value:')
area=(int(base)*int(height))//2
print('Area of the triangle=', area)

Enter base value: 5
Enter height value: 6

Area of the triangle= 15

###### CALCULATE PAINT REQUIRED>>>

In [60]:
height=input("Enter height in meters:")
width=input("Enter width in meters:")
coverage_rate=10
paint_required=(float(height)*float(width))/coverage_rate
print('Paint required=', paint_required, 'liters')

Enter height in meters: 3
Enter width in meters: 8

Paint required= 2.4 liters

###### SUM THREE DIGITS>>>

In [69]:
digits=input('Enter three digit number:')
sum_digits=int(digits[0])+int(digits[1])+int(digits[2])
print(sum_digits)

Enter three digit number: 123

6

###### HYPOTENUSE OF A RIGHT ANGLED TRIANGLE>>>

In [70]:
length1=input('Enter first length value:')
length2=input('Enter second length value:')
hypotenuse=(int(length1)**2+int(length2)**2)**(1/2)
print(f'The length of the hypotenuse={hypotenuse}')

Enter first length value: 3
Enter second length value: 4

The length of the hypotenuse=5.0

###### CALCULATES NET PAY AFTER TAX>>>

In [72]:
base_salary=input("Enter base salary:")
tax_rate=20/100
net_pay=int(base_salary)*(1-tax_rate)
print('Net Pay= $',net_pay)

Enter base salary: 1000

Net Pay= $ 800.0

###### CALCULATES TAX AMOUNT AND FINAL PRICE>>>

In [75]:
price=input('Enter price:')
tax=7.5/100
tax_amount=int(price)*tax
final_price=int(price)+tax_amount
print(f"Tax amount= ${tax_amount}")
print(f'Final price= ${final_price}')

Enter price: 100

Tax amount= $7.5
Final price= $107.5